<h1>Editing plano</h1>

<% form_for(@plano) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :tabela %><br />
    <%= f.text_field :tabela %>
  </p>
  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :valor_matricula %><br />
    <%= f.text_field :valor_matricula %>
  </p>
  <p>
    <%= f.label :qtde_parcelas %><br />
    <%= f.text_field :qtde_parcelas %>
  </p>
  <p>
    <%= f.label :valor_parcela %><br />
    <%= f.text_field :valor_parcela %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @plano %> |
<%= link_to 'Back', planos_path %>
