%p= link_to 'Cadastrar Disciplina', new_disciplina_path
%ul
  - @disciplinas.group_by(&:material).each do |material, disciplinas|
    %li
      %h4= material ? material.nome : 'Sem Material'
      %ul
        - disciplinas.each do |disc|
          %li
            = %( #{disc.duracao}h )
            = link_to disc.nome, edit_disciplina_path(disc)
            = link_to 'agenda', disponibilidades_disciplina_path(disc) if disc.fixa?
