%h2 Aulas do Dia

%form
  %select{:name => :professor_id}
    %option{:value => 0} todos professores
    = options_from_collection_for_select(@professores, 'id', 'nome', @current_professor)
  = submit_tag "Filtrar", :name => nil

%ul
  - @turmas.group_by(&:quando).each do |quando, turmas|
    %li
      %h3= quando.strftime "%A - %d/%m/%y - %H:%Mhs"
      %ul
        - turmas.each do |turma|
          %li
            %h4= "#{turma.professor.nome} - #{turma.disciplina.nome}"
            %ul
              - turma.alunos.each do |aluno|
                %li= "#{aluno.subscricao} - #{aluno.nome}"
      
