  <p>
    <%= label tipo, :cep %><br />
    <%= text_field tipo, :cep %>
  </p>
  <p>
    <%= label tipo, :uf %><br />
    <%= text_field tipo, :uf %>
  </p>
  <p>
    <%= label tipo, :cidade %><br />
    <%= text_field tipo, :cidade %>
  </p>
  <p>
    <%= label tipo, :bairro %><br />
    <%= text_field tipo, :bairro %>
  </p>
  <p>
    <%= label tipo, :tipo_logradouro %><br />
    <%= text_field tipo, :tipo_logradouro %>
  </p>
  <p>
    <%= label tipo, :logradouro %><br />
    <%= text_field tipo, :logradouro %>
  </p>  
  <p>
    <%= label tipo, :numero %><br />
    <%= text_field tipo, :numero %>
  </p>
  <p>
    <%= label tipo, :complemento %><br />
    <%= text_field tipo, :complemento %>
  </p>