<h1>Alunos</h1>

<%= flashes %>

<p>
  <%= link_to 'Todos', alunos_url %>
  <%= link_to 'Cadastrar Aluno', new_aluno_path %>
</p>
<p>
  <% form_tag alunos_url, :method => :get do %>
    Informe um nome ou número de subscrição: 
    <%= text_field_tag :pesquisa, '', {:size => 40} %>

    <%= submit_tag 'Pesquisar' %>
  <% end %>
</p>
<%= will_paginate @alunos %>
<p>
<% if @alunos.empty? %>
 <strong>Nenhum aluno encontrado</strong>
<% else %>
<table>
  <tr>
    <th>Nome</th>
    <th>Subscrição</th>
    <th>Email</th>
    <th>Telefone residencial</th>
    <th>Telefone comercial</th>
    <th>Telefone celular</th>
    <th></th>
  </tr>

<% for aluno in @alunos %>
  <tr>
    <td><%=h aluno.nome %></td>
    <td><%=h aluno.subscricao %></td>
    <td><%=h aluno.email %></td>
    <td><%=h aluno.telefone_residencial %></td>
    <td><%=h aluno.telefone_comercial %></td>
    <td><%=h aluno.telefone_celular %></td>
    <td><%= link_to 'editar', edit_aluno_path(aluno) %></td>
  </tr>
<% end %>
</table>
<% end %>
</p>

