<h1>Alunos</h1>

<%= flashes %>

<p><%= link_to 'Cadastrar Aluno', new_aluno_path %></p>

<table>
  <tr>
    <th>Nome</th>
    <th>Subscricao</th>
    <th>Email</th>
    <th>Cpf</th>
    <th>Rg</th>
    <th>Data nasc</th>
    <th>Sexo</th>
    <th>Telefone residencial</th>
    <th>Telefone comercial</th>
    <th>Telefone celular</th>
    <th></th>
  </tr>

<% for aluno in @alunos %>
  <tr>
    <td><%=h aluno.nome %></td>
    <td><%=h aluno.subscricao %></td>
    <td><%=h aluno.email %></td>
    <td><%=h aluno.cpf %></td>
    <td><%=h aluno.rg %></td>
    <td><%=h aluno.data_nasc %></td>
    <td><%=h aluno.sexo %></td>
    <td><%=h aluno.telefone_residencial %></td>
    <td><%=h aluno.telefone_comercial %></td>
    <td><%=h aluno.telefone_celular %></td>
    <td><%= link_to 'editar', edit_aluno_path(aluno) %></td>
  </tr>
<% end %>
</table>
