<p>
  <b>Profissao:</b>
  <%=h @aluno.profissao %>
</p>

<p>
  <b>Nome:</b>
  <%=h @aluno.nome %>
</p>

<p>
  <b>Subscricao:</b>
  <%=h @aluno.subscricao %>
</p>

<p>
  <b>Email:</b>
  <%=h @aluno.email %>
</p>

<p>
  <b>Cpf:</b>
  <%=h @aluno.cpf %>
</p>

<p>
  <b>Rg:</b>
  <%=h @aluno.rg %>
</p>

<p>
  <b>Data nasc:</b>
  <%=h @aluno.data_nasc %>
</p>

<p>
  <b>Sexo:</b>
  <%=h @aluno.sexo %>
</p>

<p>
  <b>Responsavel nome:</b>
  <%=h @aluno.responsavel_nome %>
</p>

<p>
  <b>Responsavel data nasc:</b>
  <%=h @aluno.responsavel_data_nasc %>
</p>

<p>
  <b>Responsavel cpf:</b>
  <%=h @aluno.responsavel_cpf %>
</p>

<p>
  <b>Responsavel rg:</b>
  <%=h @aluno.responsavel_rg %>
</p>

<p>
  <b>Telefone residencial:</b>
  <%=h @aluno.telefone_residencial %>
</p>

<p>
  <b>Telefone comercial:</b>
  <%=h @aluno.telefone_comercial %>
</p>

<p>
  <b>Telefone celular:</b>
  <%=h @aluno.telefone_celular %>
</p>

<p>
  <b>Cep:</b>
  <%=h @aluno.cep %>
</p>

<p>
  <b>Uf:</b>
  <%=h @aluno.uf %>
</p>

<p>
  <b>Cidade:</b>
  <%=h @aluno.cidade %>
</p>

<p>
  <b>Bairro:</b>
  <%=h @aluno.bairro %>
</p>

<p>
  <b>Tipo logradouro:</b>
  <%=h @aluno.tipo_logradouro %>
</p>

<p>
  <b>Numero:</b>
  <%=h @aluno.numero %>
</p>

<p>
  <b>Complemento:</b>
  <%=h @aluno.complemento %>
</p>


<%= link_to 'Edit', edit_aluno_path(@aluno) %> |
<%= link_to 'Back', alunos_path %>
