<% if @aluno %>
  <h1>Financeiro para o aluno <%= @aluno.nome %></h1>
<% else %>
  <h1>Contas a pagar</h1> 
<% end %>
<p>
  <%= link_to "Voltar", edit_aluno_path(@aluno), {} %>
</p>
<% if @previsoes.empty? %>
  Nenhuma previsão encontrada
<% else %>
  <table>
  <tr>
    <th>Tipo</th>
    <th>Pagar/Receber</th>
    <th>Valor</th>
    <th>Valor pago</th>
    <th>Parcela</th>
    <th>Historico</th>
    <th>Vencimento</th>
  </tr>

<% for previsao in @previsoes %>
  <tr>
    <td><%=h previsao.plano_conta.nome %></td>
    <td><%=h previsao.pagar_receber_humanize %></td>
    <td><%=h previsao.valor %></td>
    <td><%=h previsao.valor_pago %></td>
    <td><%=h "#{previsao.parcela}/#{previsao.qtde_parcelas}" %></td>
    <td><%=h previsao.historico %></td>
    <td><%=h previsao.vencimento.to_s_br %></td>
  </tr>
<% end %>
</table>    
<% end %>
<p>
  <%= link_to "Voltar", edit_aluno_path(@aluno), {} %>
</p>

