<h1>New previsao</h1>

<% form_for(@previsao) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :escola %><br />
    <%= f.text_field :escola %>
  </p>
  <p>
    <%= f.label :cliente %><br />
    <%= f.text_field :cliente %>
  </p>
  <p>
    <%= f.label :plano_conta %><br />
    <%= f.text_field :plano_conta %>
  </p>
  <p>
    <%= f.label :pagar_receber %><br />
    <%= f.text_field :pagar_receber %>
  </p>
  <p>
    <%= f.label :valor %><br />
    <%= f.text_field :valor %>
  </p>
  <p>
    <%= f.label :valor_pago %><br />
    <%= f.text_field :valor_pago %>
  </p>
  <p>
    <%= f.label :parcela %><br />
    <%= f.text_field :parcela %>
  </p>
  <p>
    <%= f.label :qtde_parcelas %><br />
    <%= f.text_field :qtde_parcelas %>
  </p>
  <p>
    <%= f.label :historico %><br />
    <%= f.text_field :historico %>
  </p>
  <p>
    <%= f.label :vencimento %><br />
    <%= f.date_select :vencimento %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', previsoes_path %>
