%table
  %tr
    %td Excluir Turma:
    %td= link_to "X", planilha_turma_path(@turma), :confirm => "Excluir a Turma?", :method => :delete
  %tr
    %td Código:
    %td= @turma.id
  %tr
    %td Alunos/Lotação:
    %td= "#{@turma.alunos.size}/#{@turma.disciplina.lotacao}"
  %tr
    %td Professor:
    %td= @turma.professor.nome
  %tr
    %td Disciplina:
    %td= @turma.disciplina.nome
  %tr
    %td Data/Hora:
    %td= @turma.quando.to_s_br

- unless @turma.alunos.empty?

  %h4 Alunos

  %table
    - @turma.aulas.each do |aula|
      %tr
        %td= aula.aluno.nome rescue "Aluno nao encontrado!"
        %td= link_to "X", planilha_turma_aula_path(@turma, aula), :confirm => "Desmarcar Aluno?", :method => :delete
    - if @aluno
      %tr
        %td= @aluno.nome
        %td= link_to "agendar?", planilha_turma_aulas_path(@turma) + "?aluno_id=" + @aluno.to_param, :confirm => "Deseja agendar este aluno nesta turma?", :method => :post
