<style>
table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 990px;
}

td, th {
  border: 1px solid silver;
}

abbr {
  display: block;
  text-align: center;
  border: none;
}

abbr[title] {
  background-color: yellow;
}
</style>


<h3>Professor: (<%=h @professor.id %>) <%=h @professor.nome %></h3>

<%= flashes %>

<% form_for @professor, :url => disponibilizar_professor_path(@professor) do |f| %>

	<% GridTable.new(self, @horas, @feiras).render do |hora, feira| %>
    <%- horario = hora + feira * 100 -%>
    <abbr <%= abbr_title @disponibilidades[horario] %>>
      <%= check_box_for_collection @professor, :horarios, horario %>
    </abbr>
	<% end %>

	<%= f.submit "Salvar" %>

<% end %>
