<h3>Professor: (<%=h @professor.id %>) <%=h @professor.nome %></h3>

<%= flashes %>

<% form_for @professor, :url => habilitar_professor_path(@professor) do |f| %>
	<ul>
	<% @disciplinas.each do |disciplina| %>
		<li>
			<%= check_box_tag "professor[disciplina_ids][]", disciplina.id, @habilitadas.include?(disciplina.id) %>
			<%=h disciplina.nome %>
		</li>
	<% end %>
	</ul>
	<%= f.submit "Salvar" %>
<% end %>
