<h1>Editing matricula</h1>

<% form_for(@matricula) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.label :escola %><br />
    <%= f.text_field :escola %>
  </p>
  <p>
    <%= f.label :aluno %><br />
    <%= f.text_field :aluno %>
  </p>
  <p>
    <%= f.label :plano %><br />
    <%= f.text_field :plano %>
  </p>
  <p>
    <%= f.label :curso %><br />
    <%= f.text_field :curso %>
  </p>
  <p>
    <%= f.label :numero_contrato %><br />
    <%= f.text_field :numero_contrato %>
  </p>
  <p>
  	<%= f.label :dia_vcto_parcelas, "Dia Vencimento das Parcelas" %><br />
    05<%= f.radio_button :dia_vcto_parcelas, "05" %>
    10<%= f.radio_button :dia_vcto_parcelas, "10" %>
    15<%= f.radio_button :dia_vcto_parcelas, "15" %>
    20<%= f.radio_button :dia_vcto_parcelas, "20" %>
    25<%= f.radio_button :dia_vcto_parcelas, "25" %>
  </p>
  <p>
    <%= f.label :data_inicio_parcelas %><br />
    <%= f.date_select :data_inicio_parcelas %>
  </p>
  <p>
    <%= f.label :valor_parcelas %><br />
    <%= f.text_field :valor_parcelas %>
  </p>
  <p>
    <%= f.label :data_inicio_curso %><br />
    <%= f.date_select :data_inicio_curso %>
  </p>
  <p>
    <%= f.label :valor_pri_parcela_matricula %><br />
    <%= f.text_field :valor_pri_parcela_matricula %>
  </p>
  <p>
    <%= f.label :valor_seg_parcela_matricula %><br />
    <%= f.text_field :valor_seg_parcela_matricula %>
  </p>
  <p>
    <%= f.label :data_pri_parcela_matricula %><br />
    <%= f.date_select :data_pri_parcela_matricula %>
  </p>
  <p>
    <%= f.label :data_seg_parcela_matricula %><br />
    <%= f.date_select :data_seg_parcela_matricula %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @matricula %> |
<%= link_to 'Back', matriculas_path %>
