<%
disp = @horarios[Horario.convert(dia, hora)]
if disp
  disp.each do |professor|
%>
<%= link_to professor.apelido, 
            "/planilha/agendar?" + 
            {:professor_id => professor, :disciplina_id => @disciplina, :aluno_id => @aluno,  :quando => dia + hora.hours}.to_param %>
  <% end
end
turmas = @turmas[dia + hora.hours]
if turmas
%>
<hr />
<%
  turmas.each do |turma|
    next unless turma
%>
<a href="<%= planilha_turma_path(turma) unless turma.lotada? %>" class="turma">    
    <%= turma.disciplina.apelido %>
    <br />
    <%= turma.professor.apelido %>
    <br />
    <%= "#{turma.alunos.size}/#{turma.disciplina.lotacao}" %>
</a>
  <% end %>
<% end %>
