=stylesheet_link_tag 'planilha'

%form{:align => 'center'}
  %select{:name => 'apelido'}
    = options_from_collection_for_select(@disciplinas, "apelido", "nome", @disciplina.apelido)
  = submit_tag "Buscar"

#planilha
  %table
    %thead
      %tr
        %td
        -@horas.each do |hora|
          %th= "%02d:00" % hora
        %td

    %tfoot
      %tr
        %td
        -@horas.each do |hora|
          %th= "%02d:00" % hora
        %td

    %tbody
      -@dias.each do |dia|
        %tr
          %th= (y = dia.strftime %w(%a %d %b).join("<br />"))
          -@horas.each do |hora|
            %td= celula dia, hora
          %th= y
