!!!
%html
  %head
    = javascript_include_tag :defaults
  %body
    %div{:align => :center}
      %span= link_to 'Professores', professores_path
      = "|"
      %span= link_to 'Disciplinas', disciplinas_path
    = yield
