!!!
%html
  %head
    = javascript_include_tag :defaults
  %body
    %div{:align => :center}
      = link_to 'Planilha', planilha_path
      |
      = link_to 'Professores', professores_path
      |
      = link_to 'Disciplinas', disciplinas_path
      |
      = link_to 'Habilitações', matriz_habilitacoes_professores_path
      |
      = link_to 'Turmas', turmas_path
      |
      = link_to 'Sair', logout_path

    = yield
